doctype html
html(lang="en")
  head
    title Resume Vivian Chan
    link(href='./styles/main.css', rel='stylesheet', inline)
    link(href='./styles/print.css', rel='stylesheet', media='print', inline)
  body
    div.page
      :markdown
        # Vivian Chan, Senior Software Engineer
      p.contact-info
        span: a(href='mailto:beefballchan@gmail.com') beefballchan[at]gmail[dot]com
        span +1 (206) 992 2842
        span: a(href='https://www.linkedin.com/in/chan-vivian') linkedin.com/in/chan-vivian
      div.lead
        include:markdown ../markdowns/introduction.md
      include:markdown ../markdowns/professional-experience.md
      include:markdown ../markdowns/education.md
      include:markdown ../markdowns/additional-information.md
